@model CreateAdminProductVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic form elements</h4>
            <p class="card-description">
                Create Slide
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-groupName">
                    <label asp-for="Name">Photo</label>
                    <input asp-for="Name" class="form-control" placeholder="Name" >
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Price" >Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SKU">SKU Code</label>
                    <input asp-for="SKU" class="form-control" placeholder="SKU">
                    <span class="text-danger" asp-validation-for="SKU"></span>
                </div>s
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>


                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>