@using ProniaAPK.Models
@model List<Slide>
@{
    var count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slides</h4>
            <p class="card-description">
                <a asp-controller="slide" asp-action="create" class="btn btn-success">Create Category</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Order
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Slide slide in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <img src="~/assets/images/website-images/@slide.Image">
                                </td>
                                <td>
                                    <p>@slide.Title</p>
                                </td>
                                <td>
                                    <p>@slide.Order</p>
                                </td>
                                <td>
                                    <a asp-action="delete" asp-route-id="@slide.Id" class="btn btn-danger"><i class=""></i></a>
                                    <a asp-action="update" asp-route-id="@slide.Id" class="btn btn-warning">Update</a>
                                    <a class="btn btn-primary">Detail</a>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>